%h2 Ennustused

%table#teams
  %thead
    %tr
      %th Nimi
      %th Tulemus
  %tbody
    - @userTeams.each do |userTeam|
      %tr
        %td= userTeam.user_name
        %td= userTeam.get_result_text @team1_name, @team2_name
= button_to 'Tagasi', round_of_16_teams_path(@tournament_id, @user.id), :method => :get, :class => 'form_btn'